@import url("./assets/fonts/vazir/Vazir-FD-WOL.css");

body {
  margin: 0;
  font-family: Vazir-FD-WOL;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}
